/* Page-wide Styles */

@font-face {
    font-family: aFont;
    src: url(DroidSans.ttf);
}

body {
    font-size: 20px;
    font-family: aFont;
}

.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}

.v-divider {
    margin-left: 5px;
    margin-right: 5px;
    width: 1px;
    height: 100%;
    border-left: 1px solid gray;
}


/* Heading */


/* Form Bar */

#formbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
}

#formbar>div {
    padding: 10px;
}


/* Signup Div */


/* Add Card Div */


/* Login Div*/


/* Search Bar */

#searchbar>form {
    text-align: center;
}

#searchbar>form>div {
    display: inline-block;
    width: 33%
}


/* Result Div */

#resultdiv {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}